In [146]:
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib
import numpy as np

from datetime import datetime
plt.style.use(['fivethirtyeight'])

matplotlib.rc('font', family = 'Noto Sans CJK JP')
matplotlib.rc('axes', unicode_minus = False)

import seaborn as sns



from scipy import stats
import scipy.stats
from scipy.stats import shapiro
from scipy.stats import bartlett, levene
from statsmodels.formula.api import ols
from statsmodels.api import qqplot, add_constant
import statsmodels.formula.api as smf
from statsmodels.stats.outliers_influence import variance_inflation_factor
from sklearn.model_selection import train_test_split
from sklearn.feature_selection import RFE
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import r2_score
from statsmodels.tools.eval_measures import rmse

from sklearn.tree import export_graphviz

import graphviz
from sklearn.model_selection import KFold
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import RandomizedSearchCV
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from IPython.core.display import display, HTML
from sklearn.cluster import KMeans
from yellowbrick.cluster import KElbowVisualizer
from scipy.spatial.distance import cdist
from scipy.cluster.hierarchy import linkage, dendrogram, fcluster
from sklearn.cluster import AgglomerativeClustering,KMeans, DBSCAN
from sklearn.metrics import silhouette_samples, silhouette_score
from yellowbrick.cluster import SilhouetteVisualizer
from dask.diagnostics import ProgressBar
import statsmodels.api as sm
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.tree import DecisionTreeClassifier, export_graphviz
from sklearn import metrics
from sklearn.metrics import f1_score
from sklearn.metrics import accuracy_score, f1_score
from sklearn.metrics import confusion_matrix, classification_report
from sklearn.metrics import accuracy_score, f1_score, f1_score, roc_curve, auc, precision_score,recall_score


display(HTML("<style>.container { width:100% !important; }</style>"))

In [147]:
Oxid = pd.read_csv('/home/piai/바탕화면/빅데이터프로젝트/Oxidation.csv').iloc[:,1:];Oxid.head()

,No_Die,Ox_Chamber,process,type,Temp_OXid,Vapor,ppm,Pressure,Oxid_time,thickness,Lot_Num,Wafer_Num,Datetime
0,NOLSM325131325,2,Oxidation,dry,1214.307948,O2,26.69,0.203,120,713.132,13,28,01-03-2021
1,NOLSM326132326,2,Oxidation,dry,978.110792,O2,30.86,0.217,137,714.295,13,29,01-03-2021
2,NOLSM327133327,2,Oxidation,dry,1176.019149,O2,31.07,0.218,116,710.114,13,30,01-03-2021
3,NOLSM328134328,2,Oxidation,dry,933.442733,O2,31.04,0.196,143,710.617,13,31,01-03-2021
4,NOLSM329135329,2,Oxidation,wet,1140.598752,H2O,31.37,0.215,76,711.632,13,32,01-03-2021

In [148]:
Oxid.Ox_Chamber.value_counts()

1    605
2    575
3    524
Name: Ox_Chamber, dtype: int64

In [153]:
soft = pd.read_csv('/home/piai/바탕화면/빅데이터프로젝트/Photo_softbake.csv').iloc[:,1:];soft.head()

,No_Die,photo_soft_Chamber,process 2,resist_target,N2_HMDS,pressure_HMDS,temp_HMDS,temp_HMDS_bake,time_HMDS_bake,spin1,spin2,spin3,photoresist_bake,temp_softbake,time_softbake,Lot_Num,Wafer_Num,Datetime
0,NOLSM325131325,1,Photo,1.46994,17.367,15.006,20.001,200.551,90.001,502.391,4017.144,4903.611,5.020,91.918,30.005,13,28,01-03-2021
1,NOLSM326132326,1,Photo,0.86579,16.090,15.059,19.993,199.835,89.999,507.183,4072.913,4979.082,4.937,90.976,30.005,13,29,01-03-2021
2,NOLSM327133327,1,Photo,0.90483,19.026,14.930,19.995,202.118,90.001,501.286,4084.939,5031.989,4.888,91.969,30.006,13,30,01-03-2021
3,NOLSM328134328,1,Photo,0.42197,18.891,14.947,20.004,194.668,90.000,503.396,4045.078,4969.316,4.933,91.458,30.001,13,31,01-03-2021
4,NOLSM329135329,1,Photo,1.70139,13.788,14.820,19.998,202.192,90.000,501.423,4010.176,5092.407,5.050,94.723,29.988,13,32,01-03-2021

최적의 성능을 만들기 위해서 time을 늘리면 해당 time이 합해져서 한 챔버에 부하가 걸릴텐데 해당 time들을 더하며는 시간이 오래걸리면

In [157]:
soft.photo_soft_Chamber.value_counts()

1    587
2    566
3    551
Name: photo_soft_Chamber, dtype: int64

In [158]:
litho = pd.read_csv('/home/piai/바탕화면/빅데이터프로젝트/Photo_lithograpy.csv');litho.head()

,No_Die,lithography_Chamber,Process 2-1,Line_CD,UV_type,Wavelength,Resolution,Energy_Exposure,Lot_Num,Wafer_Num,Datetime
0,NOLSM325131325,1,photo_li,41.676,I,365,505.388,109.628,13,28,01-03-2021
1,NOLSM326132326,1,photo_li,53.612,H,405,541.732,104.917,13,29,01-03-2021
2,NOLSM327133327,1,photo_li,47.598,I,365,532.200,106.632,13,30,01-03-2021
3,NOLSM328134328,1,photo_li,32.843,G,436,537.729,108.785,13,31,01-03-2021
4,NOLSM329135329,1,photo_li,57.370,H,405,522.143,109.913,13,32,01-03-2021

In [159]:
1704 /3

568.0

In [160]:
litho.lithography_Chamber.value_counts()

1    578
3    577
2    549
Name: lithography_Chamber, dtype: int64

In [161]:
Etching = pd.read_csv('/home/piai/바탕화면/빅데이터프로젝트/Etching.csv').iloc[:,1:];Etching.head()

,No_Die,Etching_Chamber,Process 3,Thin F4,Thin F3,Thin F2,Thin F1,Temp_Etching,Source_Power,Selectivity,Lot_Num,Wafer_Num,Datetime
0,NOLSM325131325,1,Etching,340.0,1522.0,3644.0,5732.0,72.651,52.103,1.030,13,28,01-03-2021
1,NOLSM326132326,2,Etching,265.0,1513.0,3631.0,5729.0,70.267,52.004,1.038,13,29,01-03-2021
2,NOLSM327133327,3,Etching,411.0,1568.0,3653.0,5729.0,71.231,50.846,1.005,13,30,01-03-2021
3,NOLSM328134328,1,Etching,328.0,1326.0,3661.0,5718.0,71.295,51.665,1.025,13,31,01-03-2021
4,NOLSM329135329,2,Etching,219.0,1451.0,3637.0,5729.0,72.983,50.787,1.038,13,32,01-03-2021

In [162]:
Ion = pd.read_csv('/home/piai/바탕화면/빅데이터프로젝트/Ion_Implantation.csv').iloc[:,1:];Ion.head()

,No_Die,Chamber_Num,process4,Flux60s,Flux90s,Flux160s,Flux480s,Flux840s,input_Energy,Temp_implantation,Furance_Temp,RTA_Temp,Lot_Num,Wafer_Num,Datetime
0,NOLSM325131325,1,Implantation,1.500198e+16,1.316363e+17,6.468338e+17,3.011187e+17,6.000012e+17,30795.934,103.433,854.0,154,13,28,01-03-2021
1,NOLSM326132326,2,Implantation,1.105654e+16,4.367509e+16,1.041399e+18,3.026639e+17,6.000008e+17,32135.618,105.552,895.0,156,13,29,01-03-2021
2,NOLSM327133327,3,Implantation,1.044283e+16,1.507393e+16,6.473188e+17,2.983347e+17,5.999989e+17,31057.895,102.598,898.0,152,13,30,01-03-2021
3,NOLSM328134328,1,Implantation,8.885135e+15,1.022922e+17,3.408444e+17,2.999225e+17,5.999997e+17,32140.566,102.963,879.0,155,13,31,01-03-2021
4,NOLSM329135329,2,Implantation,1.665762e+16,7.883038e+16,7.255226e+17,3.018136e+17,6.000004e+17,31986.009,101.419,882.0,155,13,32,01-03-2021

In [163]:
QI = pd.read_csv('/home/piai/바탕화면/빅데이터프로젝트/QualityInspection.csv').iloc[:,1:]; QI

,No_Die,Lot_Num,Wafer_Num,Datetime,Target,Error_message,Wafer_map
0,NOLSM325131325,13,28,01-03-2021,141,none,[[0 0 0 0 0 0 0 0 0 0 1 2 1 1 1 2 0 0 0 0 0 0 ...
1,NOLSM326132326,13,29,01-03-2021,55,none,[[0 0 0 0 0 0 0 0 0 0 2 2 2 2 1 2 0 0 0 0 0 0 ...
2,NOLSM327133327,13,30,01-03-2021,96,none,[[0 0 0 0 0 0 0 0 0 0 1 2 1 1 1 2 0 0 0 0 0 0 ...
3,NOLSM328134328,13,31,01-03-2021,105,none,[[0 0 0 0 0 0 0 0 0 0 2 1 1 1 1 2 0 0 0 0 0 0 ...
4,NOLSM329135329,13,32,01-03-2021,79,none,[[0 0 0 0 0 0 0 0 0 0 1 1 1 1 1 1 0 0 0 0 0 0 ...
...,...,...,...,...,...,...,...
1699,NOLSM8483211,32,11,28-02-2021,78,none,[[0 0 0 0 0 0 0 0 0 0 2 2 2 2 2 2 0 0 0 0 0 0 ...
1700,NOLSM8493212,32,12,28-02-2021,42,none,[[0 0 0 0 0 0 0 0 0 0 2 2 2 2 1 1 0 0 0 0 0 0 ...
1701,NOLSM8503213,32,13,28-02-2021,42,none,[[0 0 0 0 0 0 0 0 0 0 1 1 1 1 2 1 0 0 0 0 0 0 ...
1702,NOLSM8513214,32,14,28-02-2021,24,none,[[0 0 0 0 0 0 0 0 0 0 2 1 2 2 2 1 0 0 0 0 0 0 ...
1703,NOLSM8523215,32,15,28-02-2021,84,none,[[0 0 0 0 0 0 0 0 0 0 2 2 2 2 2 1 0 0 0 0 0 0 ...

In [164]:
display(Oxid.head(2))
display(soft.head(2))
display(litho.head(2))
display(Etching.head(2))
display(Ion.head(2))
display(QI.head(2))

,No_Die,Ox_Chamber,process,type,Temp_OXid,Vapor,ppm,Pressure,Oxid_time,thickness,Lot_Num,Wafer_Num,Datetime
0,NOLSM325131325,2,Oxidation,dry,1214.307948,O2,26.69,0.203,120,713.132,13,28,01-03-2021
1,NOLSM326132326,2,Oxidation,dry,978.110792,O2,30.86,0.217,137,714.295,13,29,01-03-2021

,No_Die,photo_soft_Chamber,process 2,resist_target,N2_HMDS,pressure_HMDS,temp_HMDS,temp_HMDS_bake,time_HMDS_bake,spin1,spin2,spin3,photoresist_bake,temp_softbake,time_softbake,Lot_Num,Wafer_Num,Datetime
0,NOLSM325131325,1,Photo,1.46994,17.367,15.006,20.001,200.551,90.001,502.391,4017.144,4903.611,5.020,91.918,30.005,13,28,01-03-2021
1,NOLSM326132326,1,Photo,0.86579,16.090,15.059,19.993,199.835,89.999,507.183,4072.913,4979.082,4.937,90.976,30.005,13,29,01-03-2021

,No_Die,lithography_Chamber,Process 2-1,Line_CD,UV_type,Wavelength,Resolution,Energy_Exposure,Lot_Num,Wafer_Num,Datetime
0,NOLSM325131325,1,photo_li,41.676,I,365,505.388,109.628,13,28,01-03-2021
1,NOLSM326132326,1,photo_li,53.612,H,405,541.732,104.917,13,29,01-03-2021

,No_Die,Etching_Chamber,Process 3,Thin F4,Thin F3,Thin F2,Thin F1,Temp_Etching,Source_Power,Selectivity,Lot_Num,Wafer_Num,Datetime
0,NOLSM325131325,1,Etching,340.0,1522.0,3644.0,5732.0,72.651,52.103,1.030,13,28,01-03-2021
1,NOLSM326132326,2,Etching,265.0,1513.0,3631.0,5729.0,70.267,52.004,1.038,13,29,01-03-2021

,No_Die,Chamber_Num,process4,Flux60s,Flux90s,Flux160s,Flux480s,Flux840s,input_Energy,Temp_implantation,Furance_Temp,RTA_Temp,Lot_Num,Wafer_Num,Datetime
0,NOLSM325131325,1,Implantation,1.500198e+16,1.316363e+17,6.468338e+17,3.011187e+17,6.000012e+17,30795.934,103.433,854.0,154,13,28,01-03-2021
1,NOLSM326132326,2,Implantation,1.105654e+16,4.367509e+16,1.041399e+18,3.026639e+17,6.000008e+17,32135.618,105.552,895.0,156,13,29,01-03-2021

,No_Die,Lot_Num,Wafer_Num,Datetime,Target,Error_message,Wafer_map
0,NOLSM325131325,13,28,01-03-2021,141,none,[[0 0 0 0 0 0 0 0 0 0 1 2 1 1 1 2 0 0 0 0 0 0 ...
1,NOLSM326132326,13,29,01-03-2021,55,none,[[0 0 0 0 0 0 0 0 0 0 2 2 2 2 1 2 0 0 0 0 0 0 ...

In [165]:
Oxid = pd.merge(Oxid,pd.DataFrame(Oxid.Ox_Chamber.value_counts().reset_index()).rename({'index' : 'Ox_Chamber', 'Ox_Chamber' : 'count_oxid'}, axis=1));Oxid.head()

,No_Die,Ox_Chamber,process,type,Temp_OXid,Vapor,ppm,Pressure,Oxid_time,thickness,Lot_Num,Wafer_Num,Datetime,count_oxid
0,NOLSM325131325,2,Oxidation,dry,1214.307948,O2,26.69,0.203,120,713.132,13,28,01-03-2021,575
1,NOLSM326132326,2,Oxidation,dry,978.110792,O2,30.86,0.217,137,714.295,13,29,01-03-2021,575
2,NOLSM327133327,2,Oxidation,dry,1176.019149,O2,31.07,0.218,116,710.114,13,30,01-03-2021,575
3,NOLSM328134328,2,Oxidation,dry,933.442733,O2,31.04,0.196,143,710.617,13,31,01-03-2021,575
4,NOLSM329135329,2,Oxidation,wet,1140.598752,H2O,31.37,0.215,76,711.632,13,32,01-03-2021,575

In [166]:
soft = pd.merge(soft,pd.DataFrame(soft.photo_soft_Chamber.value_counts().reset_index()).rename({'index' : 'photo_soft_Chamber', 'photo_soft_Chamber' : 'count_soft'}, axis=1));soft.head()

,No_Die,photo_soft_Chamber,process 2,resist_target,N2_HMDS,pressure_HMDS,temp_HMDS,temp_HMDS_bake,time_HMDS_bake,spin1,spin2,spin3,photoresist_bake,temp_softbake,time_softbake,Lot_Num,Wafer_Num,Datetime,count_soft
0,NOLSM325131325,1,Photo,1.46994,17.367,15.006,20.001,200.551,90.001,502.391,4017.144,4903.611,5.020,91.918,30.005,13,28,01-03-2021,587
1,NOLSM326132326,1,Photo,0.86579,16.090,15.059,19.993,199.835,89.999,507.183,4072.913,4979.082,4.937,90.976,30.005,13,29,01-03-2021,587
2,NOLSM327133327,1,Photo,0.90483,19.026,14.930,19.995,202.118,90.001,501.286,4084.939,5031.989,4.888,91.969,30.006,13,30,01-03-2021,587
3,NOLSM328134328,1,Photo,0.42197,18.891,14.947,20.004,194.668,90.000,503.396,4045.078,4969.316,4.933,91.458,30.001,13,31,01-03-2021,587
4,NOLSM329135329,1,Photo,1.70139,13.788,14.820,19.998,202.192,90.000,501.423,4010.176,5092.407,5.050,94.723,29.988,13,32,01-03-2021,587

In [167]:
litho = pd.merge(litho,pd.DataFrame(litho.lithography_Chamber.value_counts().reset_index()).rename({'index' : 'lithography_Chamber', 'lithography_Chamber' : 'count_litho'}, axis=1));litho.head()

,No_Die,lithography_Chamber,Process 2-1,Line_CD,UV_type,Wavelength,Resolution,Energy_Exposure,Lot_Num,Wafer_Num,Datetime,count_litho
0,NOLSM325131325,1,photo_li,41.676,I,365,505.388,109.628,13,28,01-03-2021,578
1,NOLSM326132326,1,photo_li,53.612,H,405,541.732,104.917,13,29,01-03-2021,578
2,NOLSM327133327,1,photo_li,47.598,I,365,532.200,106.632,13,30,01-03-2021,578
3,NOLSM328134328,1,photo_li,32.843,G,436,537.729,108.785,13,31,01-03-2021,578
4,NOLSM329135329,1,photo_li,57.370,H,405,522.143,109.913,13,32,01-03-2021,578

In [168]:
Etching = pd.merge(Etching,pd.DataFrame(Etching.Etching_Chamber.value_counts().reset_index()).rename({'index' : 'Etching_Chamber', 'Etching_Chamber' : 'count_etching'}, axis=1));Etching.head()

,No_Die,Etching_Chamber,Process 3,Thin F4,Thin F3,Thin F2,Thin F1,Temp_Etching,Source_Power,Selectivity,Lot_Num,Wafer_Num,Datetime,count_etching
0,NOLSM325131325,1,Etching,340.0,1522.0,3644.0,5732.0,72.651,52.103,1.030,13,28,01-03-2021,592
1,NOLSM328134328,1,Etching,328.0,1326.0,3661.0,5718.0,71.295,51.665,1.025,13,31,01-03-2021,592
2,NOLSM331137331,1,Etching,429.0,1624.0,3617.0,5728.0,70.688,50.834,1.034,13,34,01-03-2021,592
3,NOLSM3341310334,1,Etching,404.0,1635.0,3653.0,5695.0,71.617,51.857,1.045,13,37,01-03-2021,592
4,NOLSM3371313337,1,Etching,308.0,1498.0,3621.0,5732.0,71.137,51.002,1.035,13,40,01-03-2021,592

In [169]:
Ion = pd.merge(Ion,pd.DataFrame(Ion.Chamber_Num.value_counts().reset_index()).rename({'index' : 'Chamber_Num', 'Chamber_Num' : 'count_ion'}, axis=1));Ion.head()

,No_Die,Chamber_Num,process4,Flux60s,Flux90s,Flux160s,Flux480s,Flux840s,input_Energy,Temp_implantation,Furance_Temp,RTA_Temp,Lot_Num,Wafer_Num,Datetime,count_ion
0,NOLSM325131325,1,Implantation,1.500198e+16,1.316363e+17,6.468338e+17,3.011187e+17,6.000012e+17,30795.934,103.433,854.0,154,13,28,01-03-2021,592
1,NOLSM328134328,1,Implantation,8.885135e+15,1.022922e+17,3.408444e+17,2.999225e+17,5.999997e+17,32140.566,102.963,879.0,155,13,31,01-03-2021,592
2,NOLSM331137331,1,Implantation,1.130770e+16,1.162764e+17,9.131414e+17,2.989981e+17,5.999990e+17,32499.229,102.840,916.0,157,13,34,01-03-2021,592
3,NOLSM3341310334,1,Implantation,1.056055e+16,8.537015e+16,7.988779e+17,3.000877e+17,6.000019e+17,31969.699,102.847,883.0,161,13,37,01-03-2021,592
4,NOLSM3371313337,1,Implantation,1.128804e+16,-1.314100e+16,5.401109e+17,3.000265e+17,5.999993e+17,31201.477,103.231,902.0,158,13,40,01-03-2021,592

In [170]:
total_df = pd.merge(Oxid, soft, on=['No_Die', 'Lot_Num', 'Wafer_Num', 'Datetime'])
total_df = pd.merge(total_df, litho, on=['No_Die', 'Lot_Num', 'Wafer_Num', 'Datetime'])
total_df = pd.merge(total_df, Etching, on=['No_Die', 'Lot_Num', 'Wafer_Num', 'Datetime'])
total_df = pd.merge(total_df, Ion, on=['No_Die', 'Lot_Num', 'Wafer_Num', 'Datetime'])
total_df = pd.merge(total_df, QI, on=['No_Die', 'Lot_Num', 'Wafer_Num', 'Datetime'])

In [172]:
total_df['total_count'] = total_df['count_oxid'] + total_df['count_soft'] + total_df['count_litho'] + total_df['count_etching'] + total_df['count_ion']

In [176]:
total_df.to_csv('공정데이터_merge.csv', index=False)

In [177]:
temp_df = total_df.copy()

In [178]:
temp_df = temp_df.astype({'Ox_Chamber' : 'str',
                   'photo_soft_Chamber' : 'str',
                   'lithography_Chamber' : 'str',
                   'Etching_Chamber' : 'str',
                   'Chamber_Num' : 'str'})

In [179]:
temp_df['chamber_path'] = temp_df.Ox_Chamber + temp_df.photo_soft_Chamber + temp_df.lithography_Chamber + temp_df.Etching_Chamber + temp_df.Chamber_Num

In [180]:
temp_df

,No_Die,Ox_Chamber,process,type,Temp_OXid,Vapor,ppm,Pressure,Oxid_time,thickness,...,input_Energy,Temp_implantation,Furance_Temp,RTA_Temp,count_ion,Target,Error_message,Wafer_map,total_count,chamber_path
0,NOLSM325131325,2,Oxidation,dry,1214.307948,O2,26.69,0.203,120,713.132,...,30795.934,103.433,854.0,154,592,141,none,[[0 0 0 0 0 0 0 0 0 0 1 2 1 1 1 2 0 0 0 0 0 0 ...,2924,21111
1,NOLSM326132326,2,Oxidation,dry,978.110792,O2,30.86,0.217,137,714.295,...,32135.618,105.552,895.0,156,548,55,none,[[0 0 0 0 0 0 0 0 0 0 2 2 2 2 1 2 0 0 0 0 0 0 ...,2836,21122
2,NOLSM327133327,2,Oxidation,dry,1176.019149,O2,31.07,0.218,116,710.114,...,31057.895,102.598,898.0,152,564,96,none,[[0 0 0 0 0 0 0 0 0 0 1 2 1 1 1 2 0 0 0 0 0 0 ...,2868,21133
3,NOLSM328134328,2,Oxidation,dry,933.442733,O2,31.04,0.196,143,710.617,...,32140.566,102.963,879.0,155,592,105,none,[[0 0 0 0 0 0 0 0 0 0 2 1 1 1 1 2 0 0 0 0 0 0 ...,2924,21111
4,NOLSM329135329,2,Oxidation,wet,1140.598752,H2O,31.37,0.215,76,711.632,...,31986.009,101.419,882.0,155,548,79,none,[[0 0 0 0 0 0 0 0 0 0 1 1 1 1 1 1 0 0 0 0 0 0 ...,2836,21122
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1699,NOLSM3081211,1,Oxidation,dry,1160.350439,O2,34.56,0.199,18,710.197,...,30345.646,104.460,883.0,153,592,105,none,[[0 0 0 0 0 0 0 0 0 0 1 2 2 1 1 1 0 0 0 0 0 0 ...,2917,13311
1700,NOLSM8493212,1,Oxidation,wet,1268.105427,H2O,45.07,0.215,22,707.179,...,32241.426,101.061,867.0,152,564,42,none,[[0 0 0 0 0 0 0 0 0 0 2 2 2 2 1 1 0 0 0 0 0 0 ...,2898,11133
1701,NOLSM8503213,1,Oxidation,wet,1279.160563,H2O,45.12,0.214,21,712.946,...,32245.574,101.506,868.0,152,548,42,none,[[0 0 0 0 0 0 0 0 0 0 1 1 1 1 2 1 0 0 0 0 0 0 ...,2837,11222
1702,NOLSM8513214,1,Oxidation,wet,1272.804948,H2O,45.34,0.213,20,711.987,...,32259.412,101.360,868.0,152,592,24,none,[[0 0 0 0 0 0 0 0 0 0 2 1 2 2 2 1 0 0 0 0 0 0 ...,2953,11311
1703,NOLSM8523215,1,Oxidation,wet,1278.097085,H2O,45.26,0.215,22,716.238,...,32258.401,101.439,868.0,152,592,84,none,[[0 0 0 0 0 0 0 0 0 0 2 2 2 2 2 1 0 0 0 0 0 0 ...,2933,12111

In [ ]:
temp_df['양품여부']

In [186]:
temp_df[['No_Die', 'total_count', 'chamber_path', 'Target']]

              No_Die  total_count chamber_path  Target
0     NOLSM325131325         2924        21111     141
1     NOLSM326132326         2836        21122      55
2     NOLSM327133327         2868        21133      96
3     NOLSM328134328         2924        21111     105
4     NOLSM329135329         2836        21122      79
...              ...          ...          ...     ...
1699    NOLSM3081211         2917        13311     105
1700    NOLSM8493212         2898        11133      42
1701    NOLSM8503213         2837        11222      42
1702    NOLSM8513214         2953        11311      24
1703    NOLSM8523215         2933        12111      84

[1704 rows x 4 columns]

In [191]:
pd.DataFrame(temp_df.groupby('chamber_path')['Target'].sum()).reset_index().sort_values(by='Target', ascending=False)

   chamber_path  Target
67        32222    4825
40        22222    4767
49        23222    4692
13        12222    4545
31        21222    4430
..          ...     ...
48        23211     750
64        32122     727
52        23322     710
79        33322     601
73        33122     597

[81 rows x 2 columns]

In [181]:
temp_df.chamber_path.nunique()

81

In [ ]:
path_cnt = pd.DataFrame(temp_df.groupby('chamber_path').Target.count()).reset_index();
path_cnt = path_cnt.rename({'Target' : 'path_target_cnt'}, axis=1)

path_sum = pd.DataFrame(temp_df.groupby('chamber_path').Target.sum()).reset_index()
path_sum = path_sum.rename({'Target' : 'path_target_sum'}, axis=1)

In [46]:
aaaa = total_df[['No_Die','Ox_Chamber', 'photo_soft_Chamber','lithography_Chamber', 'Etching_Chamber', 'Chamber_Num', 'Target']]

In [47]:
aaaa.head()

,No_Die,Ox_Chamber,photo_soft_Chamber,lithography_Chamber,Etching_Chamber,Chamber_Num,Target
0,NOLSM325131325,2,1,1,1,1,141
1,NOLSM326132326,2,1,1,2,2,55
2,NOLSM327133327,2,1,1,3,3,96
3,NOLSM328134328,2,1,1,1,1,105
4,NOLSM329135329,2,1,1,2,2,79

In [72]:
aaaa = aaaa.astype({'Ox_Chamber' : 'str',
                   'photo_soft_Chamber' : 'str',
                   'lithography_Chamber' : 'str',
                   'Etching_Chamber' : 'str',
                   'Chamber_Num' : 'str'})

In [73]:
aaaa.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1704 entries, 0 to 1703
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   No_Die               1704 non-null   object
 1   Ox_Chamber           1704 non-null   object
 2   photo_soft_Chamber   1704 non-null   object
 3   lithography_Chamber  1704 non-null   object
 4   Etching_Chamber      1704 non-null   object
 5   Chamber_Num          1704 non-null   object
 6   Target               1704 non-null   int64
dtypes: int64(1), object(6)
memory usage: 106.5+ KB

In [76]:
aaaa.Ox_Chamber + aaaa.photo_soft_Chamber + aaaa.lithography_Chamber + aaaa.Etching_Chamber + aaaa.Chamber_Num

0       21111
1       21122
2       21133
3       21111
4       21122
        ...
1699    33333
1700    11133
1701    11222
1702    11311
1703    12111
Length: 1704, dtype: object

In [78]:
aaaa['chamber_path'] = aaaa.Ox_Chamber + aaaa.photo_soft_Chamber + aaaa.lithography_Chamber + aaaa.Etching_Chamber + aaaa.Chamber_Num

In [79]:
aaaa

,No_Die,Ox_Chamber,photo_soft_Chamber,lithography_Chamber,Etching_Chamber,Chamber_Num,Target,chamber_path
0,NOLSM325131325,2,1,1,1,1,141,21111
1,NOLSM326132326,2,1,1,2,2,55,21122
2,NOLSM327133327,2,1,1,3,3,96,21133
3,NOLSM328134328,2,1,1,1,1,105,21111
4,NOLSM329135329,2,1,1,2,2,79,21122
...,...,...,...,...,...,...,...,...
1699,NOLSM8483211,3,3,3,3,3,78,33333
1700,NOLSM8493212,1,1,1,3,3,42,11133
1701,NOLSM8503213,1,1,2,2,2,42,11222
1702,NOLSM8513214,1,1,3,1,1,24,11311
1703,NOLSM8523215,1,2,1,1,1,84,12111

In [109]:
a

,No_Die,Ox_Chamber,photo_soft_Chamber,lithography_Chamber,Etching_Chamber,Chamber_Num,Target,chamber_path
0,NOLSM325131325,2,1,1,1,1,141,21111
1,NOLSM326132326,2,1,1,2,2,55,21122
2,NOLSM327133327,2,1,1,3,3,96,21133
3,NOLSM328134328,2,1,1,1,1,105,21111
4,NOLSM329135329,2,1,1,2,2,79,21122
...,...,...,...,...,...,...,...,...
1699,NOLSM8483211,3,3,3,3,3,78,33333
1700,NOLSM8493212,1,1,1,3,3,42,11133
1701,NOLSM8503213,1,1,2,2,2,42,11222
1702,NOLSM8513214,1,1,3,1,1,24,11311
1703,NOLSM8523215,1,2,1,1,1,84,12111

In [81]:
aaaa.chamber_path.unique()

array(['21111', '21122', '21133', '21211', '21222', '21233', '21311',
       '21322', '21333', '33311', '11111', '11222', '11333', '12133',
       '12222', '12311', '13111', '13222', '13333', '22111', '22222',
       '22333', '23133', '23222', '23311', '31111', '31333', '32133',
       '32222', '32311', '33111', '33222', '33333', '22122', '22133',
       '22211', '22233', '22311', '22322', '11133', '11311', '12111',
       '12333', '13311', '23111', '23333', '31133', '31222', '31311',
       '32111', '33133', '23122', '23211', '23233', '23322', '13133',
       '31122', '31211', '31233', '31322', '32122', '32211', '32233',
       '32322', '32333', '33122', '33211', '33233', '33322', '11122',
       '11211', '11233', '11322', '12122', '12211', '12233', '12322',
       '13122', '13211', '13233', '13322'], dtype=object)

In [82]:
aaaa.chamber_path.nunique()

81

In [100]:
path_cnt = pd.DataFrame(aaaa.groupby('chamber_path').Target.count()).reset_index();
path_cnt = path_cnt.rename({'Target' : 'path_target_cnt'}, axis=1)

path_sum = pd.DataFrame(aaaa.groupby('chamber_path').Target.sum()).reset_index()
path_sum = path_sum.rename({'Target' : 'path_target_sum'}, axis=1)

In [103]:
path_total = pd.merge(path_cnt, path_sum)

In [107]:
path_total.sort_values(by = ['path_target_sum', 'path_target_cnt'], ascending=False)

   chamber_path  path_target_cnt  path_target_sum
67        32222               43             4825
40        22222               45             4767
49        23222               43             4692
13        12222               33             4545
31        21222               42             4430
..          ...              ...              ...
48        23211                9              750
64        32122                9              727
52        23322                9              710
79        33322                9              601
73        33122                9              597

[81 rows x 3 columns]

In [93]:
path_target.sort_values(by = 'Target', ascending=False)

   chamber_path  Target
67        32222    4825
40        22222    4767
49        23222    4692
13        12222    4545
31        21222    4430
..          ...     ...
48        23211     750
64        32122     727
52        23322     710
79        33322     601
73        33122     597

[81 rows x 2 columns]

In [55]:
1704/27

63.111111111111114

In [61]:
sorted(total_df.Lot_Num.unique())

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32]

In [68]:
sorted(total_df.Wafer_Num.unique())

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54]

In [67]:
54*31 + 30

1704

In [66]:
len(total_df[total_df.Lot_Num == 31])

54

In [65]:
len(total_df[total_df.Lot_Num == 32])

30

In [62]:
32*54

1728

In [70]:
aaaa.head()

,No_Die,Ox_Chamber,photo_soft_Chamber,lithography_Chamber,Etching_Chamber,Chamber_Num,Target
0,NOLSM325131325,2,1,1,1,1,141
1,NOLSM326132326,2,1,1,2,2,55
2,NOLSM327133327,2,1,1,3,3,96
3,NOLSM328134328,2,1,1,1,1,105
4,NOLSM329135329,2,1,1,2,2,79

In [71]:
aaaa.Ox_Chamber + aaaa.photo_soft_Chamber

0       21
1       21
2       21
3       21
4       21
        ..
1699    33
1700    11
1701    11
1702    11
1703    12
Length: 1704, dtype: object

In [41]:
pd.DataFrame(total_df.Ox_Chamber.value_counts())

   Ox_Chamber
1         605
2         575
3         524